@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
* {
  padding: 0%;
  margin: 0%;
}

/* Basic styles */
@media only screen and (max-width: 456px) {
  .themeMoon {
    display: none;
  }

  .mainMoon {
    width: 450px;
  }
}

.mainMoon {
  background-color: hsl(0, 0%, 90%);
  display: grid;
  height: 131vh;
  grid-template-rows: 80px 70px 600px;
  justify-items: center;
  align-content: center;
  gap: 20px;
  grid-template-columns: 720px;
  justify-content: center;
}

.headerMoon {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: hsl(60, 10%, 19%);
  font-family: "League Spartan", sans-serif;
}

.themeBoxMoon {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 130px;
}

.themeBtnMoon {
  margin-left: 20px;
  display: grid;
  justify-items: center;
  gap: 3px;
}

.countMoon {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  font-size: 12px;
}

.linkMoon {
  color: hsl(60, 10%, 19%);
  text-decoration: none;
  font-family: "League Spartan", sans-serif;
}

.containerMoon {
  background-color: hsl(0, 5%, 81%);
  height: 20px;
  width: 60px;
  border-radius: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 3px;
}

.colorBtnMoon {
  background-color: hsl(25, 98%, 40%);
  height: 15px;
  width: 15px;
  border-radius: 100%;
}

.inptMoon {
  width: 55%;
  display: flex;
  justify-content: center;
}

.displayMoon {
  width: 100%;
  height: 30px;
  border-radius: 8px;
  background-color: hsl(0, 0%, 93%);
  border: none;
  color: hsl(60, 10%, 19%);
  font-size: 32px;
  font-weight: 700;
  font-family: "League Spartan", sans-serif;
  text-align: right;
  padding: 20px;
}

.calcBtnMoon {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: hsl(0, 5%, 81%);
  gap: 10px;
  padding: 20px;
  border-radius: 5px;
  height: 50%;
  width: 50%;
}

.resetMoon {
  grid-column: 1/3;
}

.btnMoon {
  background-color: hsl(45, 7%, 89%);
  color: hsl(60, 10%, 19%);
  border-radius: 5px;
  font-size: 24px;
  font-weight: 700;
  font-family: "League Spartan", sans-serif;
  border: none;
  border-bottom: 4px solid hsl(35, 11%, 61%);
}

.btn-blue-moon {
  background-color: hsl(185, 42%, 37%);
  color: hsl(0, 0%, 100%);
  font-size: 18px;
  border: none;
  border-bottom: 4px solid hsl(185, 58%, 25%);
}

.equalMoon {
  grid-column: 3/5;
  background-color: hsl(25, 98%, 40%);
  color: hsl(0, 0%, 100%);
  font-size: 18px;
  border: none;
  border-bottom: 4px solid hsl(25, 99%, 27%);
}

.btnMoon:hover {
  cursor: pointer;
}
